<section id="todoapp" ng-controller="MainCtrl">
  <ng-view></ng-view>
  <header id ="header">
    <h1>todos</h1>

    <form id="todo-form" ng-submit="activeTodo.$save()">
      <input id="new-todo" placeholder="What needs to be done?" ng-model="activeTodo.title" autofocus>
    </form>

  </header>

  <section id="main" ng-show="todos.length" ng-cloak>
    <input id="toggle-all"
           type="checkbox"
           ng-model="checked"
           ng-click="checkAll(checked)">

  </section>

  <p>Double-click to edit a todo</p>
  <p>Credits: Adam McLean</p>
  <p>Part of TodoMVC</p>


</section>